body {
  font-family: Arial;
  background: #0b0b0f;
  color: white;
  text-align: center;
  padding: 20px;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background: #2a2a35;
  color: white;
}

.hidden {
  display: none;
}

textarea {
  height: 200px;
}
